{
  "extends": "google",
  "plugins": ["react"],
  "parser": "babel-eslint",
  "linebreak-style": ["error", "windows"],

  "rule": {
    "valid-jsdoc": "off"
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }

}